language: php

php:
  - 5.6
  - 5.5
  - hhvm

matrix:
  allow_failures:
    - php: hhvm

before_script:
  - composer install --prefer-dist --dev

after_script:
  - vendor/bin/ocular code-coverage:upload --format=php-clover build/logs/clover.xml

notifications:
  slack: miraath:A34LlZZ3Fqvc1YE45TS6WXsy
