language: php

php:
  - 5.5

before_script:
  - mysql -e 'CREATE DATABASE mir;'
  - unzip $TRAVIS_BUILD_DIR/db-export/mir_db.zip
  - mysql -u root mir < $TRAVIS_BUILD_DIR/db-export/mir_db.sql
  - composer install --prefer-dist --dev
  - export DB_USER=root DB_NAME=mir DB_HOST=127.0.0.1

after_script:
  - vendor/bin/ocular code-coverage:upload --format=php-clover build/logs/clover.xml

services:
  - mysql

notifications:
  slack: miraath:A34LlZZ3Fqvc1YE45TS6WXsy

